<a href="https://colab.research.google.com/github/A-N-I-K-Khondokar/MachineLearning/blob/main/Basics_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python print() function

In [ ]:
print("Hello");

Hello

In [ ]:
print("Anik"+" Khondokar")

Anik Khondokar

In [ ]:
print(45);

45

In [ ]:
print(12+34);

46

#Data Types

In [ ]:
type(34)

int

In [ ]:
type(232.3)

float

In [ ]:
type("anik")

str

#Constant & Variables

In [ ]:
variableName="Value as a String!"
print(variableName)

Value as a String!

In [ ]:
x=y=z=34;
print(x)
print(y)
print(z)

34
34
34

In [ ]:
hero1,hero2,hero3="Anik","Bonik","Sonik";
print(hero1)
print(hero2)
print(hero3)

Anik
Bonik
Sonik

#input Function

In [ ]:
num1=input("Enter Num1 : ")
num2=input("Enter Num2 : ")
sum=num1+num2
print(sum)

Enter Num1 : 12
Enter Num2 : 34
1234

In [ ]:
#The Problem with just input() function is that is assumes that the given info is a string
#So what we can do is use function to change the type
num=23
num2=float(num)
type(num2)

float

In [ ]:
num1=int(input("Enter Num1 : "))
num2=int(input("Enter Num2 : "))
sum=num1+num2
print(sum)

Enter Num1 : 12
Enter Num2 : 34
46

#More DataType in Python
1. int
2. float
3. str
4. boolean
5. complex

In [ ]:
#complex Number
num=1+5j
print(num)

(1+5j)

In [ ]:
#Boolean type
b=True
print(b)
type(b)

True

bool

In [ ]:
b=4<2
print(b)

False

In [ ]:
#String
print("Hello \n"*5)

Hello
Hello
Hello
Hello
Hello

In [ ]:
#String slicing
myString="Machine learning";
print(myString[1:4])

ach

In [ ]:
#string steping
print(myString[1:7:2])

ahn

In [ ]:
#string concatenation
str1="Machine"
str2=" Learning"
print(str1+str2)

Machine Learning

#List, set, dictionary, tuple

Types Of Object in Python:
1. Immutable object
2. Mutable Object

Immutable Object:
1. int
2. float
3. string
4. bool
5. tuple

Mutable Object:
1. List
2. set
3. Dictionary

In [ ]:
# list should be included in square brackets --> []
my_list=[1,2,4,6,4,5,6];
print(my_list)
type(my_list)

[1, 2, 4, 6, 4, 5, 6]

list

In [ ]:
#list can have multiple data types
myList=[1,'anik',1.5,True]
print(myList)

[1, 'anik', 1.5, True]

In [ ]:
# lists are mutable
myList.append("khondokar")
print(myList)

[1, 'anik', 1.5, True, 'khondokar']

In [ ]:
# Print list element using their index
print(myList[0])
print(myList[3])

1
True

In [ ]:
# List allows duplicate values
myList2=[1,2,3,4,2,3,4,5,2];
print(myList2)

[1, 2, 3, 4, 2, 3, 4, 5, 2]

In [ ]:
# length of the list
print(len(myList2))

9

In [ ]:
# initiating an empty list
mylist3=[];
print(mylist3)

[]

In [ ]:
# Delete an item from the list
myList=[1,'anik',1.5,True,4,665,4,3,4]
print(myList)

del myList[1]

print(myList)

[1, 'anik', 1.5, True, 4, 665, 4, 3, 4]
[1, 1.5, True, 4, 665, 4, 3, 4]

In [ ]:
# Join two list
list1=[1,2,3,4,5]
list2=[4,5,6,7,1]
list3=list1 + list2
print(list3)

[1, 2, 3, 4, 5, 4, 5, 6, 7, 1]

**Tuple**

In [ ]:
mytuple=(1,2,3,4)
print(mytuple)
type(mytuple)

(1, 2, 3, 4)

tuple

In [ ]:
# Tuple can also have multiple dataTypes

myTuple=(1,3.5,64,True,'Anik Khondokar')
print(myTuple)

(1, 3.5, 64, True, 'Anik Khondokar')

In [ ]:
# Converting a tuple into a list
myTuple=(1,3.5,64,True,'Anik Khondokar')
print(myTuple)
myList=list(myTuple)
print(myList)

(1, 3.5, 64, True, 'Anik Khondokar')
[1, 3.5, 64, True, 'Anik Khondokar']

In [ ]:
# A tuple can be accessed with index
print(myTuple[2])
print(myTuple[1])

64
3.5

In [ ]:
# tuples are immutable
myTuple.append(23)
print(myTuple)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# length of a tuple
print(len(myTuple))

5

Sets

In [ ]:
# Declaring a set
mySet={1,23.4,"anik",False}
print(mySet)
type(mySet)

{False, 1, 23.4, 'anik'}

set

In [ ]:
# we can not accessed set with index
print(mySet[2])

TypeError: 'set' object is not subscriptable

In [ ]:
# convert a list to a set
myList=[1,'anik',1.5,True,4,665,4,3,4]
mySet=set(myList)
print(mySet)

{1, 1.5, 3, 4, 'anik', 665}

In [ ]:
# set does not allows duplicate
mySet={1,23.4,"anik",False,1,"anik"}
print(mySet)

{False, 1, 'anik', 23.4}

Dictionary

key-value pair

In [ ]:
myDictionary={'name':'anik','age':23,'country':"Bangladesh"}
print(myDictionary)
type(myDictionary)

{'name': 'anik', 'age': 23, 'country': 'Bangladesh'}

dict

In [ ]:
# can access value using key!
print(myDictionary['name'])
print(myDictionary['age'])

anik
23

In [ ]:
# dictionary does not allows duplicate values
myDictionary={'name':'anik','age':23,'country':"Bangladesh",'name':'anik',"name":'Bonik'}
print(myDictionary)

{'name': 'Bonik', 'age': 23, 'country': 'Bangladesh'}

#Operators in Python
1. Arithmetic
2. Assignment
3. Comparison
4. Logical
5. Identity
6. Membership

1. Arithmetic Operator

In [ ]:

num_1 = 20
num_2 = 10

# addition
sum = num_1 + num_2
print('sum = ',sum)

# subtraction
diff = num_1 - num_2
print('difference = ',diff)

# multiplication
pro = num_1 * num_2
print('product = ',pro)

# division
quo = num_1 / num_2
print('quotient = ',quo)

# exponent
exp = num_1**num_2   # 20^10
print('exponent = ',exp)

# modulus
mod = num_1 % num_2
print('reminder = ',mod)

sum =  30
difference =  10
product =  200
quotient =  2.0
exponent =  10240000000000
reminder =  0

2. Assignment Operators
+=

-=

*=

**=

/=

%=

In [ ]:

a = 5
print(a)

5

In [ ]:
a = 5
a += 5   # a = a + 5
print(a)

10

3. Comparison Operators

In [ ]:
a = 5
b = 10

print(a == b)   # equal to
print(a != b)   # not equal to
print(a > b)    # greater than
print(a < b)
print(a <= b)
print(a >= b)

False
True
False
True
True
False

4. Logical Operators

and

or

not

In [ ]:
print( a>20 and a>5)
print( a>20 or a>5)
print( not( a>8 and a>5))

False
False
True

5. Identity Operator:

is

is not

In [ ]:
x = 5
y = 5

print(x is y)

True

In [ ]:

x = 5
y = 10

print(x is y)

False

In [ ]:
x = 5
y = 10

print(x is not y)

True

6. Membership Operator:

in

not in

In [ ]:
a = 5
b =10

c = [1,2,3,4,5]
print( a in c)
print( b in c)

True
False

In [ ]:
a = 5
b =10

c = [1,2,3,4,5]
print( a not in c)
print( b not in c)

False
True

#Conditional Statement
1. if
2. if else
3. nested if-else
4. if elif else

1. if else

In [ ]:
a = 30
b = 50

if (a>b):
  print('a is the greatest number')
else:
  print('b is the greatest number')

b is the greatest number

2. if elif else

In [ ]:
a = 15
b = 25
c = 30

if (b<a>c):
  print('a is the greatest number')
elif (a<b>c):
  print('b is the greatest number')
else:
  print('c is the greatest number')

c is the greatest number

3. Nested if statement

In [ ]:
a = 20
b = 40
c = 60

if (a>b):
  if (a>c):
    print('a is the greatest number')
  else:
    print('c is the greatest number')
else:
  if (b>c):
    print('b is the greatest number')
  else:
    print('c is the greatest number')

c is the greatest number

# Loops in Python

1. For loops

In [ ]:
for i in range(7):    #  the value of  i= 0,1,2,3,4,5,6 // here i is a variable
  laptop_price = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 1
Enter the price of the laptop : 2
Enter the price of the laptop : 3
Enter the price of the laptop : 4
Enter the price of the laptop : 5
Enter the price of the laptop : 6
Enter the price of the laptop : 7

2. While loop

In [ ]:
i = 0     # initialization

while i<10: # condition
  print(i)
  i += 1   # updation

0
1
2
3
4
5
6
7
8
9

# Function

Function is a block of code that can be reused in a Program

In [ ]:
# Find the factorial of a number without function

number = int(input(' Enter a number to find its factorial : '))

factorial = 1

if number == 0:
  print(' The Factorial of 0 is 1')

else:
  for i in range(1, number+1):
    factorial = factorial*i
  print('The factorial of ',number,' is',factorial)

 Enter a number to find its factorial : 5
The factorial of  5  is 120

In [ ]:
# Find the factorial of a Number using a Function
def factorial_value(num):

  factorial = 1

  if num == 0:
    return factorial

  else:
    for i in range(1, num+1):
      factorial = factorial*i
    return factorial

In [ ]:
print(factorial_value(5))

120

In [ ]:
print(factorial_value(12))

479001600